{% extends "lpo_app/base.html" %}

{% block content %}
    <div>
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">OML-34 BSSD Apps</h1>
                <p class="lead font-italic">Access ITTs, Vendors, etc. Your one-stop shop for all scm activities.</p>
                <p class="">You have <span class="badge badge-secondary">74</span> bid(s) processed since inception of AMT.</p>
                <p class="">You have <span class="badge badge-secondary">18</span> bid(s) processed in 2020.</p>
                <p class="">You have <span class="badge badge-secondary">4</span> bid(s) yet to be dispatched since approval by Tender Board.</p>
                
                <table class="table table-borderless table-sm" id="table1"> 
                  <thead class="p-3 mb-2 bg-primary text-white" class="border-bottom font-weight-bold">
                      <tr>
                          <th width="50%">Bid Name</th>
                          <th width="20%">Tender Board</th>
                          <th width="20%">Approved Date</th>
                          <th width="10%">Dept</th>
                      </tr>
                  </thead>
                  <tbody>
                      
                          <tr>
                              <td><a href="/57/">Routine Maintenance of Emergency eye wash and safety showers</a></td>
                              <td>84</td>
                              <td>April 7, 2020</td>
                              <td>HSE<td>
                              
                          </tr>
                      
                          <tr>
                              <td><a href="/44/">Maintenance Painting of Utorogu FLB</a></td>
                              <td>88</td>
                              <td>June 2, 2020</td>
                              <td>OPS<td>
                              
                          </tr>
                      
                          <tr>
                              <td><a href="/56/">Procurement of Dump Valve for Ughelli East FS HP Separator</a></td>
                              <td>84</td>
                              <td>April 7, 2020</td>
                              <td>OPS<td>
                              
                          </tr>
                      
                          <tr>
                              <td><a href="/302/">Provision of Electrical and Instrumentation maintenance tools for OML-34 (re-tender)</a></td>
                              <td>63</td>
                              <td>July 30, 2019</td>
                              <td>OPS<td>
                              
                          </tr>
                      
                  </tbody>
              </table>
            
                <h4 class="display-4">Bids due for opening</h4>
                
                <p class="">You have <span class="badge badge-secondary">6</span> bid(s) yet to be opened. After Bid opening, click the "Open ALL" button to mark as opened.   
                  <a href="/open/" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">  Open ALL</a></p>
                  
                <table class="table table-borderless table-sm" id="table2">
                  <thead class="p-3 mb-2 bg-primary text-white" class="border-bottom font-weight-bold">
                      <tr>
                          <th width="40%">Bid Name</th>
                          <th width="15%">Closed Date</th>
                          <th width="10%">Dept</th>
                          <th width="35%">Contractor(s)</th>
                      </tr>
                  </thead>
                  <tbody>
                      
                          <tr>
                              <td><strong>Call out contract for Flowline &amp; Facilities Intervention works Utorogu</strong></td>
                              <td>2020-09-30</td>
                              <td>ENGR
                              <td> 
                                  <ol>
                                                      
                                      <li>ADMANNS VERSATILE
                                          
                                      </li>
                                                      
                                      <li>ALGE GLOBAL VENTURES LIMITED
                                          
                                      </li>
                                                      
                                      <li>Arigbe &amp; Sons International Limited
                                          
                                      </li>
                                                      
                                      <li>EMAG OIL &amp; GAS CONSULTANCY ENG. LTD
                                          
                                      </li>
                                                      
                                      <li>ENCAPSULATE NIGERIA LIMITED
                                          
                                      </li>
                                                      
                                      <li>NOWTECH SYSTEM LIMITED
                                          
                                      </li>
                                                      
                                      <li>OIL SEED INVESTMENT LTD
                                          
                                      </li>
                                                      
                                      <li>OVIE PIPELINE AND CONSTRUCTION COMP
                                          
                                      </li>
                                                      
                                      <li>Someni Nigeria Limited
                                          
                                      </li>
                                                      
                                      <li>Toritse International Company Ltd
                                          
                                      </li>
                                   
                                  </ol>
                              </td>
                          </tr>
                      
                          <tr>
                              <td><strong>Call out contract for Flowline &amp; Facilities Intervention works Ughelli East</strong></td>
                              <td>2020-09-30</td>
                              <td>ENGR
                              <td> 
                                  <ol>
                                                      
                                      <li>AMSEK OIL &amp; GAS SERVICES LTD
                                          
                                      </li>
                                                      
                                      <li>ERNNY – MEG ENGINEERING AND CONSTRUCTION LIMITED
                                          
                                      </li>
                                                      
                                      <li>Gaboga Industrial Co. Nig. Ltd
                                          
                                      </li>
                                                      
                                      <li>JOSA CONSTRUCTION &amp; CO LTD
                                          
                                      </li>
                                                      
                                      <li>MOGELS (NIGERIA) COMPANY LTD
                                          
                                      </li>
                                                      
                                      <li>ODIAGBE BUSINESS RESOURCES
                                          
                                      </li>
                                                      
                                      <li>PENTIMOKI NIGERIA LIMITED
                                          
                                      </li>
                                                      
                                      <li>TECHRON ENERGY NIG LTD
                                          
                                      </li>
                                                      
                                      <li>Twecco Industrial Enterprise Limited
                                          
                                      </li>
                                                      
                                      <li>URHODO NIGERIA LIMITED
                                          
                                      </li>
                                   
                                  </ol>
                              </td>
                          </tr>
                      
                          <tr>
                              <td><strong>Call out contract for Flowline &amp; Facilities Intervention works Ughelli West</strong></td>
                              <td>2020-09-30</td>
                              <td>ENGR
                              <td> 
                                  <ol>
                                                      
                                      <li>AFOTECH PROJECT LTD
                                          
                                      </li>
                                                      
                                      <li>AMGREAT G. NIGERIA COMPANY
                                          
                                      </li>
                                                      
                                      <li>EMUOBO OIL &amp; GAS NIG LTD
                                          
                                      </li>
                                                      
                                      <li>ENCAPSULATE NIGERIA LIMITED
                                          
                                      </li>
                                                      
                                      <li>Gaboga Industrial Co. Nig. Ltd
                                          
                                      </li>
                                                      
                                      <li>JERRY PIPING NIGERIA LIMITED
                                          
                                      </li>
                                                      
                                      <li>JERRYTAZ GLOBAL VENTURES
                                          
                                      </li>
                                                      
                                      <li>MD VOWGAS LIMITED
                                          
                                      </li>
                                                      
                                      <li>NAGOS PROJECTS LTD
                                          
                                      </li>
                                                      
                                      <li>Quick Tools Nig Ltd
                                          
                                      </li>
                                   
                                  </ol>
                              </td>
                          </tr>
                      
                          <tr>
                              <td><strong>Provision of 2 Drivers</strong></td>
                              <td>2020-09-30</td>
                              <td>ASS 
                              <td> 
                                  <ol>
                                                      
                                      <li>CHOZE VENTURE AND  COMPANY
                                          
                                      </li>
                                                      
                                      <li>Horsuk Services
                                          
                                      </li>
                                                      
                                      <li>Patevel Engineering Limited
                                          
                                      </li>
                                                      
                                      <li>SHADEVEL INTERNATIONAL SERVICES
                                          
                                      </li>
                                                      
                                      <li>Victokobo (Nig) Enterprises
                                          
                                      </li>
                                   
                                  </ol>
                              </td>
                          </tr>
                      
                          <tr>
                              <td><strong>Power Supply, Hook Up and Commissioning of New 22KW Export Pump Motor at Ughelli East Flow station (Retendered)</strong></td>
                              <td>2020-09-23</td>
                              <td>ENGR
                              <td> 
                                  <ol>
                                                      
                                      <li>ATTIKAT Engineering Ltd
                                          
                                      </li>
                                                      
                                      <li>CHOZE VENTURE AND  COMPANY
                                          
                                      </li>
                                                      
                                      <li>Ergas Engineering Nig. Ltd
                                          
                                      </li>
                                                      
                                      <li>IYOBHEBHE GODFREY &amp; SONS
                                          
                                      </li>
                                                      
                                      <li>JERRY PIPING NIGERIA LIMITED
                                          
                                      </li>
                                                      
                                      <li>PAT.KEVWE ENTERPRISES
                                          
                                      </li>
                                                      
                                      <li>Pumps Integrated Global Energy Services
                                          
                                      </li>
                                                      
                                      <li>RIELANN Investment Company Ltd
                                          
                                      </li>
                                                      
                                      <li>S.C.H.S Technical and Services Coy. Ltd
                                          
                                      </li>
                                                      
                                      <li>S2 GENERATION SERVICES LIMITED
                                          
                                      </li>
                                   
                                  </ol>
                              </td>
                          </tr>
                      
                          <tr>
                              <td><strong>Provision of 6 Firemen</strong></td>
                              <td>2020-09-30</td>
                              <td>ASS 
                              <td> 
                                  <ol>
                                                      
                                      <li>MOGELS (NIGERIA) COMPANY LTD
                                          
                                      </li>
                                                      
                                      <li>ODIAGBE BUSINESS RESOURCES
                                          
                                      </li>
                                                      
                                      <li>S2 GENERATION SERVICES LIMITED
                                          
                                      </li>
                                                      
                                      <li>SOLAN NIGERIA ENTERPRISES
                                          
                                      </li>
                                                      
                                      <li>VINCOM INDUSTRIAL SERVICES
                                          
                                      </li>
                                   
                                  </ol>
                              </td>
                          </tr>
                      
                  </tbody>
              </table>
            </div>
            
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" 
        integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" 
        crossorigin="anonymous"></script>
    <script (src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js", 
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", 
        crossorigin="anonymous")></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.js" integrity="sha256-Q0cguHZIfvl0zzk68PF1dGCY3pW2y6xvHx4GHLQ/lg4=" crossorigin="anonymous" type="text/javascript"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap.js" integrity="sha256-tJIoHA64cNe60LQ0mux9ILw+9cLD+RobM7arU7vNlJk=" crossorigin="anonymous" type="text/javascript"></script>

        <script>
          $(function () {
              $('#id_name, #search').autocomplete({
                 source: "/insert/",
                 minLength: 2,
                //  data : injectCsrfToken(form.name),
                //  type: 'GET',
              });
         });
        
       
   </script>

   {% endblock content %}